plugins = []
headers = []
redirects = []

[functions]

[functions."*"]

[build]
publish = "/Users/kyleanderson/.openclaw/workspace/king-of-the-road-site"
publishOrigin = "default"
base = "/Users/kyleanderson/.openclaw/workspace/king-of-the-road-site"

[build.environment]

[build.processing]

[build.processing.css]

[build.processing.html]

[build.processing.images]

[build.processing.js]

[build.services]